// Breadcrumb stylesheet

/* @import "int/consts"; */

/*div#breadcrumb {
    float: left; // allow right float in the header to be the same height
    color: gray; // separators
    & > a {
        color: gray;
    }
    .current {
        font-weight: bold;
        text-decoration: none;
    }
}*/