//================
// Flash messages
//================
@import "int/consts";

/*.flash {
    padding: $body_padding;
    margin: 10px;
    border: 2px solid;
}

.flash-error {
    font-weight: bold;
    color: #cc0000;
    border-color: #cc0000;
    background-color: $error_bg_color;
}
.flash-info {
    font-weight: bold;
    color: #00cc00;
    border-color: #00cc00;
    background-color: #e5ffe5;
}*/
