// Consts

$error_bg_color: #ffe6e6;
/* $link_color: black; */
$separator-color: #777;
$body_padding: 0.5em;
$node_width: 660px;
$node_indentation: 39px;
$body_bg_color: white;
$hover_color: #ddd;
$border_color: #9b9b9b;
$padding: 6px;
/* $highlight_color: #3879d9; */
$highlight_color: #dA4f49;